/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 1px;
  text-align: center;
  background: #9B0000;
  color: white;
  font-size: 16px;
  box-shadow: 2px 2px 4px #000000;
}

/* Page Content */
.content {padding:20px;}

}
