@font-face {
	font-family: Delfino;
	src:url("font/Delfino.otf");
}

* {
	font-family: Delfino;
	font-size: 16pt;
	color: #000000;
}

body {
  background-image: url("https://www.teahub.io/photos/full/218-2181440_super-paper-mario-marios-house.jpg");
  background-attachment: fixed;
  background-position: center;
}

/* Header */
.header {
  background-color: #727272;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: #CD0000;
  shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
